# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\[1]postgraduate\network_embedding\GE-NRS-226ab7b3e21f5a0a38ada90537e59e5c2f01ddb4\GE-NRS-226ab7b3e21f5a0a38ada90537e59e5c2f01ddb4\GraphEmbedding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
